@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .homepageHeader {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .column {
        float: left;
        padding: 20px;
    }

        .column.Left {
            width: 15%;
            background-color: cadetblue;
        }

        .column.Right {
            width: 85%;
        }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .filterDiv {
        float: left;
        display: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 250px;
        height: 250px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;
        padding-top: 20px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: lightgoldenrodyellow;
        opacity: 0.95;
    }

        .filterDiv:hover {
            background-color: #ddd;
        }

        .filterDiv.active {
        }


    .show {
        display: block;
    }

    .container {
        margin-top: 20px;
        overflow: hidden;
    }

    /* Style the buttons */

    .btn {
        border: none;
        outline: none;
        background-color: #666;
        color: white;
        cursor: pointer;
    }

        .btn:hover {
            background-color: #ddd;
        }

        .btn.active {
            background-color: lightgoldenrodyellow;
            color: black;
        }

    .title {
        color: grey;
        font-size: 15px;
    }
</style>

<body>

    <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Show all</button>
        <button class="btn" onclick="filterSelection('cs')">Computer Science</button>
        <button class="btn" onclick="filterSelection('arts')">Liberal Arts</button>
        <button class="btn" onclick="filterSelection('history')">History</button>
        <button class="btn" onclick="filterSelection('health')">Health</button>
    </div>


    <div>
        <button class="filterDiv cs">
            <h1>Front-End Developer</h1>
            <p class="title">Vault Innovation</p>
            <p>Contact Us</p>
            <div style="margin: 20px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv arts">
            <h1>Game Animator</h1>
            <p class="title">Disney</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv health">
            <h1>Neurosugeon</h1>
            <p class="title">Masonic Medical Center</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv cs">
            <h1>Software Engineer</h1>
            <p class="title">Vault Innovation</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv history">
            <h1>Archivist</h1>
            <p class="title">Library</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv arts">
            <h1>Copy Editor</h1>
            <p class="title">Universitly of Chicago</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv cs">
            <h1>Software Engineer</h1>
            <p class="title">Motorola</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv health">
            <h1>Medical Scribe</h1>
            <p class="title">Oak Street Health</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv history">
            <h1>History Professor</h1>
            <p class="title">DePaul University</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv cs">
            <h1>CS Lecturer</h1>
            <p class="title">Loyola University</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv health">
            <h1>Nurse Practitioner</h1>
            <p class="title">Masonic Medical Center</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv cs">
            <h1>Computer Programmer</h1>
            <p class="title">PluroTech</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv history">
            <h1>History Researcher</h1>
            <p class="title">The HistoryMakers</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv arts">
            <h1>Graphic Designer</h1>
            <p class="title">Motion Agency</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv cs">
            <h1>API Software Engineer</h1>
            <p class="title">U.S. Bank</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv health">
            <h1>Psychologist</h1>
            <p class="title">Advanced Psychology Services</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv arts">
            <h1>Studies Master's Program Faculty</h1>
            <p class="title">DePaul University</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <div>
        <button class="filterDiv history">
            <h1>History Teacher</h1>
            <p class="title">University of Chicago</p>
            <p>Contact Us</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </button>
    </div>

    <script>
        filterSelection("all")
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("filterDiv");
            if (c == "all") c = "";
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
            }
        }

        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>

</body>
